    <div class="table-responsive"> 
        <div class="col-sm-12">   
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Nº</th>
                        <th>Matricula</th>
                        <th>Apellidos y Nombres</th>
                        

                    </tr>
                </thead>
                <tbody>
                    <tr>
                            <td>5</td>
                            <td>Quintessa</td>
                            <td>Nehru</td>
                    </tr>
                    <tr>
                            <td>10</td>
                            <td>Omar</td>
                            <td>Dennis</td>
                    </tr>
                    <tr>
                            <td>3</td>
                            <td>Laura</td>
                            <td>Vladimir</td>
                    </tr>
                    <tr>
                            <td>3</td>
                            <td>Fitzgerald</td>
                            <td>Wyatt</td>
                    </tr>
                    <tr>
                            <td>9</td>
                            <td>Kato</td>
                            <td>Acton</td>
                    </tr>
                    <tr>
                            <td>6</td>
                            <td>Tashya</td>
                            <td>Elijah</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>   