/app/config/parameters.yml
/build/
/bower_components
/composer.phar
/dist
/escudo.png
/escudo.jpg
/grunt/node_modules
/grunt/.sass-cache
/grunt/.tmp
/nbproject/
/phpunit.xml
/node_modules
/sistemaantiguo
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/escudo.png
/web/node_modules/
/web/tmp
/web/uploads/documents/images/profile/*
/web/uploads/documents/actividades/enviadas/*
/web/uploads/documents/actividades/recibidas/*
!web/uploads/.gitkeep
!web/uploads/documents/images/profile/male.png
!web/uploads/documents/images/profile/.gitkeep
!web/uploads/documents/actividades/enviadas/.gitkeep
!web/uploads/documents/actividades/recibidas/.gitkeep
/web/vendor
/web/nbproject