/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/bower_components
/composer.phar
/dist
/escudo.png
/escudo.jpg
/grunt/node_modules
/grunt/.sass-cache
/grunt/.tmp
/nbproject
/node_modules
/sistemaantiguo
/vendor/
/web/bundles/
/web/escudo.png
/web/node_modules/
/web/tmp
/web/uploads/*
!web/uploads/.gitkeep
/web/vendor
/web/nbproject