html, body {

}

.small {
	font-weight:bold;
}

.translate_ul ul {
  float: left;
  width: 100%; 
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.translate_ul li {
  text-align: left;
  float: left;
  width: 102px;
  margin: 0;
  height: 20px;
  background-image: url(../../images/bullet.png);
  background-position: 0 -1px;
  background-repeat: no-repeat;
  padding: 0 0 0 1.5em; 
  cursor: pointer;
} 

.translate_container {
	background-color:#fffff;
	color:#333;
	font-weight:normal;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:15px 10px;
	padding-bottom:0px;
	text-align:left;
}

.translate_container a{
	color: #11648F;
}

.translating {
	display:none;
}