# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port: 465
    mailer_encryption: ssl
    #KNP generator PDF
    pdf_generator: %kernel.root_dir%/../vendor/bin/wkhtmltopdf-amd64
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    firebase_host: multiacademico.firebaseio.com
    firebase_service_json: %kernel.root_dir%/Resources/FireBase/Multiacademico-fcbcd0bb4d08.json
    oauth_client: 1_2e3tv6ivw0sgkok8so8wsow8k48ooggs8kk88s8cows8koo4kc
    oauth_secret: 5n6nc9q4l84cs484wsossk0w0g8ooksgs0kogw8084w00wswc8
    website_back_base_url: 'https://multiacademico.com/'
    aws_access_key_id: ~
    aws_secret_access_key: ~
    s3_bucket: ~
    aws_url: ~
    locale: es
