<li>
        <a data-ui-sref="multiacademico.docentes.midistributivo" data-active-menu>
            <span class="icon"><i class="fa flaticon-a1"></i></span>
            <span class="text">Calificar</span>
        </a>
</li>
<li>
        <a data-ui-sref="multiacademico.proyectosescolares.list" data-active-menu>
            <span class="icon"><i class="fa flaticon-meeting"></i></span>
            <span class="text">Proyectos Escolares</span>
        </a>
</li>