<li>
        <a data-ui-sref="multiacademico.actividadacademicadetalle.list" data-active-menu>
            <span class="icon"><i class="fa flaticon-teach"></i></span>
            <span class="text">Mis Actividades Academicas</span>
        </a>
</li>
<li>
        <a data-ui-sref="multiacademico.estudiantes.miscalificaciones" data-active-menu>
            <span class="icon"><i class="fa flaticon-a1"></i></span>
            <span class="text">Mis Calificaciones</span>
        </a>
</li>