{% block content -%}
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Perfil', 'Mi Perfil']" icon="user"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="{{path('layout-sub-header')}}"></div>
    </div>
   {{include('MultiservicesArxisBundle:Usuario:detailuser.html.twig')}}

    
</div>
{% endblock %}
