{% block content -%}
<div id="content">
    {#<div class="row">
        <big-breadcrumbs items="['Usuario', 'Mostrar']" icon="user"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="{{path('layout-sub-header')}}"></div>
    </div>#}
    {{include('MultiservicesArxisBundle:Usuario:detailuser.html.twig')}}

    {% if (is_granted('ROLE_SUPER_ADMIN')) %}
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('secured_user') }}">
            Regresar a la lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
    </ul>
    </div>
    {%endif%}
</div>
{% endblock %}
