<table border="0" cellpadding="1" cellspacing="0" style="width:100%;font-size: 8.0pt;font-family: Tahoma;color: #000000;margin-top: 20px;">
        <tbody>
            <tr height="25" style="text-align: center;height: 75px;">
                <td>
                    <span>________________________________</span><br/>
                        <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">VICERRECTORA</span>
                </td>
                <td>
                    <span>________________________________</span><br/>
                        <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">DIRECTOR DE AREA</span>
                </td>
                <td>
                    <span>________________________________</span><br/>
                    <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">{{docente.docentetrato}} {{docente}}</span>
                </td>
            </tr>
            <tr  style="text-align: center;height: 75px;">
                <td colspan="3">
                    <div style="display: table-cell;padding-right: 70px;padding-left: 70px;">
                        <span>________________________________</span><br/>
                        <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">RECIBIDO</span>
                    </div>    
                    <div style="display: table-cell;padding-right: 70px;padding-left: 70px;">
                        <span>________________________________</span><br/>
                        <span style="font-size:8.0pt;font-family:Tahoma;color:#000000">SECRETARIA</span>    
                    </div>
                </td>

            </tr>    

        </tbody>
</table>