{% block content -%}

    <div class="row" ng-controller="FormsCrudCtrl">
        {{'{{controlador}}'}}
            </div>
    <div class="row">

    {{ form(form) }}
    </div>
    
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('estudiantes') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
    </div>

{% endblock %}
