{% block content -%}

    <div class="row">
        <!--nada aqui por ahora-->
    </div>
    <div class="row">

    {{ form(form) }}
    </div>
    
  <div  class="record_actions" style="display:-webkit-box;">
            <a class="btn btn-success" href="{{ path('estudiantes') }}">
            Regresar a la lista
            </a>  
        </div>

{% endblock %}
