{% block content -%}
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Egresos', 'Nuevo']" icon="file"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="{{path('layout-sub-header')}}"></div>
    </div>
    <div class="row">

    {{ form(form) }}
    </div>
    <div class="row">
        <ul class="record_actions">
    <li>
        <a href="{{ path('egresos') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
    </div>
</div>
{% endblock %}