@page {
      size: auto;
      
     margin-left: 0.5cm;
      margin-right: 0.5cm;
      margin-top: 0.1cm;

}
@page rotated { size : landscape;
                margin-left: 0.5cm;
                margin-right: 0.5cm;
                margin-top: 0.1cm;
}
.printable{display:none;}
.body-content {
    background-color: #FFFFFF;
    }
#imprimir{
    text-align: right;
    padding-right: 100px;
}
@media print {
    .body-content {
        min-height: 500px;
    }
    .letraprintMini {
        font-size:5pt;
    }
#cabecera {
  display: none !important;
}
.pagina {
     width:20cm;
     //height:20cm;
     margin-left: auto;
     margin-right: auto;
     line-height: 15px;
}
.paginah {
     width:100%;
     //height:20cm;
     margin-left: auto;
     margin-right: auto;
     line-height: 15px;
}
.paginah2 {
     width:100%;
     //height:20cm;
     margin-left: auto;
     margin-right: auto;
     line-height: 15px;
}
.pagina2en1 {
     width:20cm;
     //height:20cm;
     margin-left: auto;
     margin-right: auto;
     line-height: 22px;
}
#menu
{
  display: none !important;
}
#imprimir {
  display: none !important;
}
.noprint
{
 display: none !important;
}

body, #contenido, #principal, #pie {
  float: none !important;
  width: auto !important;
  //height: auto !important;
  margin:  0 !important;
  padding: 0 !important;
}
#page-content {
    margin-left: 0px;
}
body.page-sidebar-minimize #page-content, body.page-sidebar-minimize-auto #page-content {
  margin-left: 0px;
}
 .printable {
     display:block;
     width: 18cm;
     margin-left: auto;
     margin-right: auto;
 }
 .screen {display:none;}
}



.letraprint1
{
    font-size:8.0pt;
    font-family:Tahoma;
    color:#000000
}
.letraprint2
{
    font-size:7.0pt;
    font-family:Tahoma;
    color:#000000
}
 .letraprintMini {
       font-size:7.0pt;
    }