#dyntext {
  width: 400px;
}

.nombremedio  {
  position: relative;
  float: left;
  width: 9cm;
  height: 1cm;
  vertical-align:middle;
}

.nombremedio .jtextfill {
  position: relative;
  width: 9cm;
  height: 1cm;
  background-color: #fff;
  text-align: center;
  vertical-align:middle;
  line-height: 1cm;
}

.nombremedio .jtextfill span {
  vertical-align:middle;
}

