/* 
    Created on : 19/07/2014, 04:27:28 PM
    Author     : Rene Arias <renearias@multiservices.com.ec>
*/
tr.rotar-texto{}
th.rotar-texto{width:45px;height:140px;vertical-align:bottom;}
.letterP4{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);padding-top:-100px;width:40px;}
.solo-rotar{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);padding-left:12px}
.notificacion.unread{
    background-color: #f7ecf2!important;
}
#notificaciones ul{
    width: 280px;
}
.letraprint1
{
    
    font-size:8.0pt;
    font-family:Tahoma;
    color:#000000
}
.letraprint2
{
    font-size:7.0pt;
    font-family:Tahoma;
    color:#000000
}
.malla-field{
    line-height: 10px;
    height:100px;
    vertical-align:bottom;
}
.malla-field-rotate{
    width:30px;
}
.malla-field-rotate-min{
    width:15px;
}