<div class="row">
    <div class="col-xs-12 col-sm-9">
       <div class="callout callout-info mb-20 alert alert-dismissable" role="alert">
            <a href="https://arxis.la" target="_blank">Muliacademico de Arxis</a> a partir de este momento puedes cambiar tu foto de perfil.
            La nueva tecnología de <a href="https://arxis.la" target="_blank">Arxis</a> permitirá que tengas un sitio mas seguro.
            Recuerda que puedes contactarnos al 052-738945 para servicio al cliente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        </div>
        <div>
           
        </div>
     </div>
    <!-- ADSENSE -->                              
        <div class="col-xs-12 col-sm-3">
		<div class="text-align-center" style="text-align:center">
                        <script type="text/javascript" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bloque de contenido -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:600px"
                     data-ad-client="ca-pub-9022887868130724"
                     data-ad-slot="4098681295"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                </div>
         </div><!-- /.col -->
      <!-- fin ADSENSE -->   
</div> 
