<div class="row">
    <div class="col-xs-12 col-sm-12">
       <div class="callout callout-info mb-20 alert alert-dismissable" role="alert">
            <a href="https://arxis.la" target="_blank">Muliacademico de Arxis</a> a partir de este momento puedes cambiar tu foto de perfil.
            La nueva tecnología de <a href="https://arxis.la" target="_blank">Arxis</a> permitirá que tengas un sitio mas seguro.
            Recuerda que puedes contactarnos al 052-738945 para servicio al cliente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        </div>
     </div>
 </div>
<div class="row">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="panel rounded shadow">
            <div class="panel-body">
                <div class="ribbon-wrapper">
                    <a class="ribbon ribbon-success"><i class="fa fa-star"></i> 1</a>
                </div><!-- /.ribbon-wrapper -->
                <ul class="inner-all list-unstyled">
                    <li class="text-center">
                        <a data-ui-sref="app.users.profile({id:mejorestudianteparcial.uid})"> 
                            <img class="img-circle img-bordered-success" src="{{mejorestudianteparcialfoto}}" alt="{{mejorestudianteparcial.estudiante}}">
                            </a>
                    </li>
                    <li class="text-center">
                        <h4 class="text-capitalize">{{mejorestudianteparcial.estudiante}}</h4>
                        <p class="text-muted text-capitalize">Mejor Estudiante del Parcial</p>
                    </li>
                    <li>
                        <a href="" class="btn btn-success text-center btn-block">{{mejorestudianteparcial.curso}}, {{mejorestudianteparcial.paralelo}}</a>
                    </li>
                    <li><br/></li>
                    <li>
                        <div class="btn-group-vertical btn-block">
                            <a data-ui-sref="app.users.profile({id:mejorestudianteparcial.uid})" class="btn btn-default">Ver Perfil</a>
                            <!--<a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right text-success"></i>Logout</a>-->
                        </div>
                    </li>
                </ul><!-- /.list-unstyled -->
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <div class="panel rounded shadow">
            <div class="panel-body bg-danger">
                <div class="ribbon-wrapper">
                    <a class="ribbon bg-warning"><i class="fa fa-star"></i> 2</a>
                </div><!-- /.ribbon-wrapper -->
                <div class="row row-merge">
                    <div class="col-sm-9 col-xs-12">
                        <div class="media mb-10">
                            <a class="pull-left media-object" data-ui-sref="app.users.profile({id:mejorestudiante2parcial.uid})">
                                <img class="img-responsive img-circle" src="{{mejorestudiante2parcialfoto}}" alt="{{mejorestudiante2parcial.estudiante}}">
                            </a><!-- /.media-object -->
                            <div class="media-body">
                                <h4 class="media-heading"><a data-ui-sref="app.users.profile({id:mejorestudiante2parcial.uid})">{{mejorestudiante2parcial.estudiante}}</a></h4>
                                <p class="text-muted h6 mt-5"><i class="fa fa-map-marker"></i> {{mejorestudiante2parcial.curso}}, {{mejorestudiante2parcial.paralelo}}</p>
                            </div><!-- /.media-body -->
                        </div><!-- /.media -->
                    </div><!-- /.col-sm-9 -->
                    <div class="col-sm-3 col-xs-12">
                        <div class="btn-group-vertical btn-block pull-right">
                            <!--<a href="#" class="btn btn-success btn-sm"><i class="fa fa-thumbs-up"></i> Like</a>
                            <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-envelope-o"></i> Chat</a>
                            -->
                        </div>
                    </div><!-- /.col-sm-3 -->
                </div><!-- /.row-merge -->
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <div class="panel rounded shadow">
            <div class="panel-body bg-info">
                <div class="ribbon-wrapper">
                    <a class="ribbon bg-danger"><i class="fa fa-star"></i> 3</a>
                </div><!-- /.ribbon-wrapper -->
                <div class="row row-merge">
                    <div class="col-sm-9 col-xs-12">
                        <div class="media mb-10">
                            <a class="pull-left media-object" data-ui-sref="app.users.profile({id:mejorestudiante3parcial.uid})">
                                <img class="img-responsive img-circle" src="{{mejorestudiante3parcialfoto}}" alt="...">
                            </a><!-- /.media-object -->
                            <div class="media-body">
                                <h4 class="media-heading"><a data-ui-sref="app.users.profile({id:mejorestudiante3parcial.uid})">{{mejorestudiante3parcial.estudiante}}</a></h4>
                                <p class="text-muted h6 mt-5"><i class="fa fa-map-marker"></i> {{mejorestudiante3parcial.curso}}, {{mejorestudiante3parcial.paralelo}}</p>
                            </div><!-- /.media-body -->
                        </div><!-- /.media -->
                    </div><!-- /.col-sm-9 -->
                    <div class="col-sm-3 col-xs-12">
                        <div class="btn-group-vertical btn-block pull-right">
                            <!--<a href="#" class="btn btn-success btn-sm btn-alt"><i class="fa fa-thumbs-up"></i> Like</a>
                            <a href="#" class="btn btn-success btn-sm btn-alt"><i class="fa fa-envelope-o"></i> Chat</a>-->
                        </div>
                    </div><!-- /.col-sm-3 -->
                </div><!-- /.row-merge -->
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    </div>
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="panel rounded shadow">
            <div class="panel-body bg-facebook">
                <div class="ribbon-wrapper">
                    <a class="ribbon bg-twitter transparent"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 1</a>
                </div><!-- /.ribbon-wrapper -->
                <ul class="inner-all list-unstyled">
                    <li class="text-center">
                        <a data-ui-sref="app.users.profile({id:mejorestudiantequimestre.uid})"><img class="img-circle img-bordered-success" src="{{mejorestudiantequimestrefoto}}" alt="{{mejorestudiantequimestre.estudiante}}">
                            </a>
                    </li>
                    <li class="text-center">
                        <h4 class="text-capitalize">{{mejorestudiantequimestre.estudiante}}</h4>
                        <p class="text-muted text-capitalize">Mejor Estudiante del Quimestre</p>
                    </li>
                    <li>
                        <a href="" class="btn btn-success text-center btn-block">{{mejorestudiantequimestre.curso}}, {{mejorestudiantequimestre.paralelo}}</a>
                    </li>
                    <li><br/></li>
                    <li>
                        <div class="btn-group-vertical btn-block">
                            <a data-ui-sref="app.users.profile({id:mejorestudiantequimestre.uid})" class="btn btn-default">Ver Perfil</a>
                            <!--<a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right text-success"></i>Logout</a>-->
                        </div>
                    </li>
                </ul><!-- /.list-unstyled -->
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    </div>
   <!-- ADSENSE -->                              
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
		<div class="text-align-center" style="text-align:center">
                        <script type="text/javascript" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bloque de contenido -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:600px"
                     data-ad-client="ca-pub-9022887868130724"
                     data-ad-slot="4098681295"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                </div>
         </div><!-- /.col -->
      <!-- fin ADSENSE --> 
 
   
</div><!-- /.row -->

