<!-- Note: The activity badge color changes when clicked and resets the number to 0
Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
<div class="ajax-dropdown">

        <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
        <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default">
                        <input type="radio" name="activity" id="{{path('arxis_mail_inbox')}}">
                        Msgs (14) </label>
                <label class="btn btn-default">
                        <input type="radio" name="activity" id="{{path('inbox_notificaciones')}}">
                        Notifys (3) </label>
                <label class="btn btn-default">
                        <input type="radio" name="activity" id="{{path('inbox_tareas')}}">
                        Tareas (4) </label>
        </div>

        <!-- notification content -->
        <div class="ajax-notifications custom-scroll">

                <div class="alert alert-transparent">
                        <h4>Haga clic en un botón para mostrar los mensajes aquí</h4>
                        Este mensaje de página en blanco ayuda a proteger su privacidad, o usted puede mostrar el primer mensaje aquí automáticamente.
                </div>

                <i class="fa fa-lock fa-4x fa-border"></i>

        </div>
        <!-- end notification content -->

        <!-- footer: refresh area -->
        <span> Ultima actualización : {{'now'|date()}}
                <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cargando..." class="btn btn-xs btn-default pull-right">
                        <i class="fa fa-refresh"></i>
                </button> </span>
        <!-- end footer -->

</div>
<!-- END AJAX-DROPDOWN -->