{% block content -%}
    <style>
        label{
            display: table;
        }
        div.dataTables_filter input {
          margin-left: 0px; 
        }
        .dataTable thead tr th:first-child{
          min-width: 10px;  
        }

    </style>
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Aulas', 'Resumen']" icon="file"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            </div>
    <div class="row">
    {{ datatable_render_html(datatable) }}    
   
    </div>
        <br/>
    <div class="row text-center" >   
        <a class="btn btn-info" href="{{ path('aulas',{'page':'new'}) }}">
         Crear nueva entrada
        </a>        
    </div>
</div>    
        {{ datatable_render_js(datatable) }}
{% endblock %}
