function ( tfoot, data, start, end, display ) {
    var api = this.api(), data;
    // Remove the formatting to get integer data for summation
    var intVal = function ( i ) {
        return typeof i === 'string' ?
            i.replace(/[\$,]/g, '')*1 :
            typeof i === 'number' ?
                i : 0;
    };
    // Total over all pages
   /* total = api
        .column( 10 )
        .data()
        .reduce( function (a, b) {
            return intVal(a) + intVal(b);
        }, 0 );
*/
    // Total over this page
    pageTotal = api
        .column( 9, { page: 'current'} )
        .data()
        .reduce( function (a, b) {
            return intVal(a) + intVal(b);
        }, 0 );
    // Total over this page
    pageTotalCobrado = api
        .column( 8, { page: 'current'} )
        .data()
        .reduce( function (a, b) {
            return intVal(a) + intVal(b);
        }, 0 );    

    // Update footer
    $("#pension_datatable").find("tfoot").html('<tr><td colspan="5">Cobrados $'+(Math.round(pageTotalCobrado* 100) / 100)+' de $'+(Math.round(pageTotal* 100) / 100)+'</td></tr>');
    $(api.column(9).footer()).html(
        'Total: $'+(Math.round(pageTotal* 100) / 100)
    );
    $(api.column(8).footer()).html(
        'Cobrado: $'+(Math.round(pageTotalCobrado * 100) / 100)
    );
}
