<div class="panel panel-tab">
    <div class="panel-hedaing no-padding">
        <div class="pull-right">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#sidebar-profile" data-toggle="tab">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
               
                <li>
                    <a href="#sidebar-chat" data-toggle="tab">
                        <i class="fa fa-comments"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body no-padding">
        <div class="tab-content">
            <div class="tab-pane  in active" id="sidebar-profile">
                <div class="sidebar-profile">

                    <!-- Start right navigation - menu -->
                    <ul data-nicescroll class="sidebar-menu niceScroll">

                        <!-- Start category about me -->
                        <li class="sidebar-category">
                            <span>ABOUT ME</span>
                            <span class="pull-right"><i class="fa fa-newspaper-o"></i></span>
                        </li>
                        <!--/ End category about me -->

                        <!--/ Start navigation - about me -->
                        <li>
                            <ul class="list-unstyled">
                                <li>
                                    {{profile.aboutMe.description}}
                                </li>
                                <li>
                                    <i class="fa fa-refresh"></i> {{profile.aboutMe.sync}}
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> {{profile.aboutMe.timeSpent}}
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i> {{profile.aboutMe.email}}
                                </li>
                                <li>
                                    <i class="fa fa-mobile"></i> {{profile.aboutMe.phone}}
                                </li>
                            </ul>
                        </li>
                        <!--/ End navigation - about me -->

                        <!-- Start category recent activity -->
                        <li class="sidebar-category">
                            <span>RECENT ACTIVITY</span>
                            <span class="pull-right"><i class="fa fa-line-chart"></i></span>
                        </li>
                        <!--/ End category recent activity -->

                        <!--/ Start navigation - activity -->
                        <li>
                            <div class="media-list activity">
                                <a data-ng-repeat="activity in profile.recentActivity" href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <i class="fa fa-flash"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">{{activity.title}}</span>
                                        <span class="media-meta time">{{activity.time}}</span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                            </div><!-- /.media-list -->
                        </li>
                        <!--/ End navigation - activity -->

                        <!-- Start category current working -->
                        <li class="sidebar-category">
                            <span>CURRENTLY WORKING</span>
                            <span class="pull-right"><i class="fa fa-group"></i></span>
                        </li>
                        <!--/ End category current working -->

                        <!-- Start left navigation - current working -->
                        <li>
                            <div class="media-list working">
                                <a data-ng-repeat="working in profile.currentlyWorking" href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="https://ipsumimage.appspot.com/30x30,4888E1?f=ffffff" class="img-circle" alt="{{working.name}}">
                                        <i class="{{working.status}}"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">{{working.name}}</span>
                                        <span class="media-meta status">{{working.status}}</span>
                                        <span class="media-meta device">
                                            <i data-ng-show="working.device == 'desktop'" class="fa fa-globe"></i>
                                            <i data-ng-show="working.device == 'mobile'" class="fa fa-mobile"></i>
                                        </span>
                                        <span data-ng-show="working.time" class="media-meta time">{{working.time}}</span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                            </div><!-- /.media-list -->
                        </li>
                        <!--/ End left navigation - current working -->

                    </ul>
                    <!-- Start right navigation - menu -->
                </div>
            </div><!-- /#sidebar-profile -->
         
           
            <div class="tab-pane" id="sidebar-chat">
                <div class="sidebar-chat">

                <form class="form-horizontal">
                    <div class="form-group has-feedback">
                        <input class="form-control" type="text" placeholder="Search messages...">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>

                <!-- Start right navigation - menu -->
                <ul data-nicescroll class="sidebar-menu niceScroll">

                    <!-- Start category family chat -->
                    <li class="sidebar-category">
                        <span>FAMILY</span>
                        <span class="pull-right"><i class="fa fa-home"></i></span>
                    </li>
                    <!--/ End category family chat -->

                    <li>
                        <!-- Start chat - contact list -->
                        <div class="media-list">
                            <a data-ng-repeat="chat in chats.family" href="#" class="media">
                                <span class="media-object pull-left has-notif">
                                    <img src="https://ipsumimage.appspot.com/30x30,4888E1?f=ffffff" class="img-circle" alt="{{chat.name}}">
                                    <i class="{{chat.status}}"></i>
                                </span>
                                <span class="media-body">
                                    <span class="media-heading">{{chat.name}}</span>
                                        <span class="media-meta status">{{chat.status}}</span>
                                            <span class="media-meta device">
                                                <i data-ng-show="chat.device == 'desktop'" class="fa fa-globe"></i>
                                                <i data-ng-show="chat.device == 'mobile'" class="fa fa-mobile"></i>
                                            </span>
                                        <span data-ng-show="chat.time" class="media-meta time">{{chat.time}}</span>
                                </span>
                            </a><!-- /.media -->
                        </div><!-- /.media-list -->
                        <!--/ End chat - contact list -->
                    </li>

                    <!-- Start category friends chat -->
                    <li class="sidebar-category">
                        <span>FRIENDS</span>
                        <span class="pull-right"><i class="fa fa-group"></i></span>
                    </li>
                    <!--/ End category friends chat -->

                    <li>
                        <!-- Start chat - contact list -->
                        <div class="media-list">
                            <a data-ng-repeat="chat in chats.friend" href="#" class="media">
                                <span class="media-object pull-left has-notif">
                                    <img src="https://ipsumimage.appspot.com/30x30,4888E1?f=ffffff" class="img-circle" alt="{{chat.name}}">
                                    <i class="{{chat.status}}"></i>
                                </span>
                                <span class="media-body">
                                    <span class="media-heading">{{chat.name}}</span>
                                        <span class="media-meta status">{{chat.status}}</span>
                                            <span class="media-meta device">
                                                <i data-ng-show="chat.device == 'desktop'" class="fa fa-globe"></i>
                                                <i data-ng-show="chat.device == 'mobile'" class="fa fa-mobile"></i>
                                            </span>
                                        <span data-ng-show="chat.time" class="media-meta time">{{chat.time}}</span>
                                </span>
                            </a><!-- /.media -->
                        </div><!-- /.media-list -->
                        <!--/ End chat - contact list -->
                    </li>

                    <!-- Start category other chat -->
                    <li class="sidebar-category">
                        <span>OTHERS</span>
                        <span class="pull-right"><i class="fa fa-share"></i></span>
                    </li>
                    <!--/ End category other chat -->

                    <li>
                        <!-- Start chat - contact list -->
                        <div class="media-list">
                            <a data-ng-repeat="chat in chats.others" href="#" class="media">
                                <span class="media-object pull-left has-notif">
                                    <img src="https://ipsumimage.appspot.com/30x30,4888E1?f=ffffff" class="img-circle" alt="{{chat.name}}">
                                    <i class="{{chat.status}}"></i>
                                </span>
                                <span class="media-body">
                                    <span class="media-heading">{{chat.name}}</span>
                                        <span class="media-meta status">{{chat.status}}</span>
                                            <span class="media-meta device">
                                                <i data-ng-show="chat.device == 'desktop'" class="fa fa-globe"></i>
                                                <i data-ng-show="chat.device == 'mobile'" class="fa fa-mobile"></i>
                                            </span>
                                        <span data-ng-show="chat.time" class="media-meta time">{{chat.time}}</span>
                                </span>
                            </a><!-- /.media -->
                        </div><!-- /.media-list -->
                        <!--/ End chat - contact list -->
                    </li>

                </ul><!-- /.sidebar-menu -->
                <!-- Start right navigation - menu -->

                </div><!-- /.sidebar-chat -->
            </div><!-- /#sidebar-chat -->
        </div>
    </div>
</div>