<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content">
    <a href="#" class="close">&times;</a>
    <div class="media">
        <a class="pull-left has-notif avatar" data-ng-href="page-profile">
            <img src="http://img.djavaui.com/?create=50x50,4888E1?f=ffffff" alt="admin">
            <i class="online"></i>
        </a>
        <div class="media-body">
            <h4 class="media-heading">Hello, <span>Lee</span></h4>
            <small>Web Designer</small>
        </div>
    </div>
</div><!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->

<!-- Start left navigation - menu -->
<ul data-collapse-menu class="sidebar-menu">
    
      <!-- Start index -->
  <!--   <li>
        <a href="#/inicio" data-active-menu>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Inicio</span>
           
        </a>
    </li> -->
    <!--/ End index -->
    
        <!-- Start User -->
    <li>

        <a href="#/dashboard" data-active-menu>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Inicio</span>
           
        </a>
    </li>
    <!--/ End User -->
    <!-- Start category ui kit-->
    <li class="sidebar-category">
        <span>Estudiantes</span>
        <span class="pull-right"><i class="fa fa-users"></i></span>
    </li>
    <!--/ End category ui kit-->
    <!-- Start Group -->
    <li>
        <a href="#/group" data-active-menu>
            <span class="icon"><i class="fa fa-group"></i></span>
            <span class="text">Estudiantes</span>
            
           
        </a>
    </li>
    <!--/ End Group -->

  <!-- Start matriculas -->
    <li>
        <a href="#/matriculas" data-active-menu>
            <span class="icon"><i class="fa fa-file-text-o"></i></span>
            <span class="text">Matriculas</span>
            
           
        </a>
    </li>
    <!--/ End matriculas -->
    <!-- Start category apps -->
    <li class="sidebar-category">
        <span>Calificaciones</span>
        <span class="pull-right"><i class="fa fa-trophy"></i></span>
    </li> 
    <!--/ End category apps -->
    <!-- Start matriculas -->
    <li>
        <a href="#/calificaciones" data-active-menu>
            <span class="icon"><i class="fa flaticon-a1"></i></span>
            <span class="text">Calificaciones</span>
        </a>
    </li>
    <!--/ End matriculas -->

    <!-- Start navigation - dashboard -->
   <!--  <li class="active">
        <a href="#/dashboard" data-active-menu>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Inicio</span>
            <span class="selected"></span>
        </a>
    </li> -->
    <!--/ End navigation - dashboard -->

   

    <!-- Start navigation - blog -->
    <li class="submenu">
        <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Malla</span>
            <span class="arrow"></span>
        </a>
        <ul>
            <li><a href="#/blog-grid" data-active-menu>Malla Normal</a></li>
            <li><a href="#/blog-list" data-active-menu>Cuadro de Calificaciones</a></li>
            <li><a href="#/blog-single" data-active-menu>Comportamiento</a></li>
             <li><a href="#/blog-single" data-active-menu>Quimestre 1</a></li>
              <li><a href="#/blog-single" data-active-menu>Quimestre 2</a></li>
              <li><a href="#/blog-single" data-active-menu>Dos Quimestres</a></li>
        </ul>
    </li>
    <!--/ End navigation - blog -->

    <!-- Start navigation - mail -->
    <li class="submenu">
        <a href="javascript:void(0);">
            <span class="icon"><i class="fa flaticon-university"></i></span>
            <span class="text">Academico</span>
            <span class="arrow"></span>
        </a>
        <ul>
            <li><a href="#/mail-inbox" data-active-menu>Cursos</a></li>
            <li><a href="#/mail-compose" data-active-menu>Especialidades </a></li>
            <li><a href="#/mail-view" data-active-menu>Materias</a></li>
            <li><a href="#/mail-view" data-active-menu>Docentes</a></li>
             <li><a href="#/mail-view" data-active-menu>Distributivos</a></li>
            <li><a href="#/mail-view" data-active-menu>Clubes</a></li>
        </ul>
    </li>
    <!--/ End navigation - mail -->
    <!-- Start category apps -->
    <li class="sidebar-category">
        <span>Reportes</span>
        <span class="pull-right"><i class="fa fa-paper-o"></i></span>
    </li> 
    <!--/ End category apps -->
    <!-- Start navigation - pages -->
    <li class="submenu">
        <a href="javascript:void(0);">
            <span class="icon"><i class="fa flaticon-a3"></i></span>
            <span class="text">Informes</span>
            <span class="arrow"></span>
        </a>
        <ul>
            <li><a href="#/page-gallery" data-active-menu>Informe de Aprendizaje y Comportmiento por Estudiantes</a></li>
            <li><a href="#/page-faq" data-active-menu>Informes de Aprendizaje y Comportamiento por Cursos </a> <i class="fa flaticon-a3"></i></li>
        </ul>
    </li>
    <li class="submenu">
         <a href="javascript:void(0);"><span class="icon"> <i class="fa fa-print"></i></span>
             <span class="text">Reportes</span> <span class="arrow"></span></a>
                <ul>
                    <li><a href="#/page-error-403" data-active-menu>Reporte de Matriculas Alfabeticamente</a></li>
                    <li><a href="#/page-error-400" data-active-menu>Reporte de Matriculas Numericamente</a></li>
                    <li><a href="#/page-error-500" data-active-menu>Reporte de Matriculas por Curso</a></li>
                    <li><a href="#/page-error-500" data-active-menu>Reporte de Matriculas Errores</a></li>
                    <li><a href="#/page-error-500" data-active-menu>Reporte de Matriculas Estadistico</a></li>
                    <li><a href="#/page-error-500" data-active-menu>Libro de Matriculas</a></li>
                    <li><a href="#/page-error-500" data-active-menu>Reporte Docentes</a></li>
                    <li><a href="#/page-error-500" data-active-menu>Reporte Docentes Claves</a></li>
                </ul>
    </li>
    <li class="submenu">
                <a href="javascript:void(0);"> <span class="icon"><i class="flaticon-certificate"></i></span>
                    <span class="text">Certificados</span> <span class="arrow"></span></a>
                <ul>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in" target="_blank">Certificado de Matricula</a></li>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in-type-2" target="_blank">Certificado de Matriculas por Cursos</a></li>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-up" target="_blank">Certificado de Promocion</a></li>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/lost-password" target="_blank">Certificado de Promocion</a></li>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/lock-screen" target="_blank">Certificado de Promocion por Cursos</a></li>
                </ul>
    </li>
 <li class="submenu">
                <a href="javascript:void(0);"><span class="icon"> <i class=" fa flaticon-calendar5"></i></span>
                    <span class="text">Periodos</span> <span class="arrow"></span></a>
                <ul>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in" target="_blank">2013-2014</a></li>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in-type-2" target="_blank">2014-2015</a></li>
                </ul>
            </li>


<li class="submenu">
                <a href="javascript:void(0);">
                    <span class="icon"> <i class=" fa fa-cogs"></i></span>
                    <span class="text">Panel de Control</span>
                    <span class="arrow"></span></a>
                <ul>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in" target="_blank">Unidad Educativa</a></li>
                    <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in-type-2" target="_blank">Menus</a></li>

                      <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in-type-2" target="_blank">Modulos</a></li>

                      <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in-type-2" target="_blank">Permisos</a></li>

                      <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in-type-2" target="_blank">Permisos</a></li>

                      <li><a data-ng-href="{{settings.baseURL}}/production/admin/angularjs/account.html#/sign-in-type-2" target="_blank">Usuarios</a></li>


                </ul>
            </li>
        <li>
            <a href="#/ayuda" data-active-menu>
                <span class="icon"><i class="fa fa-question-circle"></i></span>
                <span class="text">Ayuda</span>
            </a>
        </li>

    <!--/ End navigation - pages -->

</ul><!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->

<!-- Start left navigation - footer -->
<div class="sidebar-footer hidden-xs hidden-sm hidden-md">
    <a data-setting class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Setting"><i class="fa fa-cog"></i></a>
    <a data-fullscreen class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"></i></a>
    <a data-lock-screen  class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Lock Screen"><i class="fa fa-lock"></i></a>
    <a data-logout class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
</div><!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->