{% extends 'base.html.twig' %}

{% block body %}
    <h1>AreaAcademica listado</h1>

        {{ datatable_render_html(datatable) }}
    <ul>
        <li>
            <a href="{{ path('areaacademica',{'page':'new'}) }}">Crear nueva entrada</a>
        </li>
    </ul>   {{ datatable_render_js(datatable) }}
{% endblock %}
