/* ========================================================================
 * CUBE PORTFOLIO
 * ======================================================================== */
/* line 10, ../../../app/styles/pages/faq.scss */
.cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active {
  border-bottom-color: #5AADBB;
}

/* line 15, ../../../app/styles/pages/faq.scss */
.cbp-l-filters-underline .cbp-filter-item {
  margin-top: 0px;
}

/* line 21, ../../../app/styles/pages/faq.scss */
.cbp-item:last-child .cbp-caption {
  border-bottom: none !important;
}

/* line 27, ../../../app/styles/pages/faq.scss */
.cbp-caption-expand .cbp-caption-defaultWrap, .cbp-caption-expand .cbp-l-caption-body {
  font-family: "Open Sans", sans-serif;
}
/* line 31, ../../../app/styles/pages/faq.scss */
.cbp-caption-expand .cbp-caption-defaultWrap i {
  background-color: #ebebed;
  text-align: center;
  line-height: 29px;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

/* ========================================================================
 * COLOR PANEL
 * ======================================================================== */
/* line 46, ../../../app/styles/pages/faq.scss */
.panel-primary .cbp-l-filters-underline .cbp-filter-item, .panel-danger .cbp-l-filters-underline .cbp-filter-item, .panel-warning .cbp-l-filters-underline .cbp-filter-item, .panel-danger .cbp-l-filters-underline .cbp-filter-item, .panel-info .cbp-l-filters-underline .cbp-filter-item, .panel-success .cbp-l-filters-underline .cbp-filter-item {
  color: #e0e0e0;
}
/* line 48, ../../../app/styles/pages/faq.scss */
.panel-primary .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-danger .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-warning .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-danger .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-info .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-success .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active {
  color: #FFFFFF;
}
/* line 54, ../../../app/styles/pages/faq.scss */
.panel-primary .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-danger .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-warning .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-danger .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-info .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active, .panel-success .cbp-l-filters-underline .cbp-filter-item.cbp-filter-item-active {
  border-bottom-color: #FFFFFF;
}