/* ========================================================================
 * SIGN
 * ======================================================================== */
/* line 10, ../../../app/styles/pages/sign.scss */
body.page-boxed {
  background-color: #505050;
}
/* line 12, ../../../app/styles/pages/sign.scss */
body.page-boxed:before {
  background-color: #505050;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
}
/* line 21, ../../../app/styles/pages/sign.scss */
body.page-boxed #sign-wrapper {
  background-color: #E9EAED;
}
/* line 23, ../../../app/styles/pages/sign.scss */
body.page-boxed #sign-wrapper form {
  width: 350px;
  margin: 0px auto;
}

@media (min-width: 1200px) {
  /* line 34, ../../../app/styles/pages/sign.scss */
  body.page-boxed #sign-wrapper {
    width: 1220px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 44, ../../../app/styles/pages/sign.scss */
  body.page-boxed #sign-wrapper {
    width: 970px;
  }
}
/* line 51, ../../../app/styles/pages/sign.scss */
#sign-wrapper {
  width: 350px;
  margin: 0px auto;
  padding-top: 5%;
  height: 100%;
  position: relative;
}
/* line 59, ../../../app/styles/pages/sign.scss */
#sign-wrapper a {
  font-size: 13px;
}
/* line 64, ../../../app/styles/pages/sign.scss */
#sign-wrapper form {
  background-color: #FFFFFF;
}
/* line 67, ../../../app/styles/pages/sign.scss */
#sign-wrapper form.rounded .sign-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 72, ../../../app/styles/pages/sign.scss */
#sign-wrapper form.rounded .sign-body .form-group .error {
  border-radius: 3px;
}
/* line 79, ../../../app/styles/pages/sign.scss */
#sign-wrapper form.circle .sign-header {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
/* line 84, ../../../app/styles/pages/sign.scss */
#sign-wrapper form.circle .sign-body .form-group .error {
  border-radius: 50%;
}
/* line 93, ../../../app/styles/pages/sign.scss */
#sign-wrapper input {
  font-size: 12px !important;
}
/* line 95, ../../../app/styles/pages/sign.scss */
#sign-wrapper input:focus {
  box-shadow: none;
}
/* line 101, ../../../app/styles/pages/sign.scss */
#sign-wrapper .form-group {
  margin-left: 0;
  margin-right: 0;
  padding: 0 15px;
}
/* line 105, ../../../app/styles/pages/sign.scss */
#sign-wrapper .form-group:last-child {
  margin-bottom: 0;
}
/* line 109, ../../../app/styles/pages/sign.scss */
#sign-wrapper .form-group .input-group .input-group-addon {
  border: none;
  padding-left: 0px;
}
/* line 113, ../../../app/styles/pages/sign.scss */
#sign-wrapper .form-group .input-group input[type=text], #sign-wrapper .form-group .input-group input[type=password], #sign-wrapper .form-group .input-group input[type=email] {
  box-shadow: none !important;
  border: none !important;
  color: #B6B6B6;
}
/* line 118, ../../../app/styles/pages/sign.scss */
#sign-wrapper .form-group .input-group i {
  font-size: 23px;
  color: #B6B6B6;
}
/* line 123, ../../../app/styles/pages/sign.scss */
#sign-wrapper .form-group .input-group-addon {
  background-color: white;
}
/* line 133, ../../../app/styles/pages/sign.scss */
#sign-wrapper .ckbox label {
  color: #B6B6B6;
}
/* line 139, ../../../app/styles/pages/sign.scss */
#sign-wrapper .brand {
  text-align: center;
  margin-bottom: 20px;
}
/* line 142, ../../../app/styles/pages/sign.scss */
#sign-wrapper .brand > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 149, ../../../app/styles/pages/sign.scss */
#sign-wrapper hr {
  margin: 5px 0px 10px;
}
/* line 154, ../../../app/styles/pages/sign.scss */
#sign-wrapper .text-muted {
  font-size: 13px;
}
/* line 159, ../../../app/styles/pages/sign.scss */
#sign-wrapper .sign-link {
  margin-top: 20px;
}

/* line 166, ../../../app/styles/pages/sign.scss */
.sign-header {
  color: white;
  padding: 20px 15px;
  margin-bottom: 0px;
}
/* line 170, ../../../app/styles/pages/sign.scss */
.sign-header p, .sign-header strong {
  color: white;
}

/* line 176, ../../../app/styles/pages/sign.scss */
.sign-body {
  background-color: rgba(234, 234, 236, 0.72);
  margin: 0px;
  padding: 15px 0px;
}
/* line 183, ../../../app/styles/pages/sign.scss */
.sign-body .form-group .error {
  position: absolute;
  background-color: #E9573F;
  padding: 5px 10px;
  top: 9px;
  color: white !important;
}
/* line 191, ../../../app/styles/pages/sign.scss */
.sign-body .form-group:first-child .error {
  left: -205px;
}
/* line 193, ../../../app/styles/pages/sign.scss */
.sign-body .form-group:first-child .error:after {
  content: "____";
  position: absolute;
  right: -20px;
  color: #E9573F;
  top: 0px;
}
/* line 203, ../../../app/styles/pages/sign.scss */
.sign-body .form-group:last-child .error {
  right: -190px;
}
/* line 205, ../../../app/styles/pages/sign.scss */
.sign-body .form-group:last-child .error:before {
  content: "____";
  position: absolute;
  left: -20px;
  color: #E9573F;
  top: 0px;
}

/* line 219, ../../../app/styles/pages/sign.scss */
.sign-footer {
  padding: 15px 0px;
}

/* line 226, ../../../app/styles/pages/sign.scss */
.lock .sign-text:before {
  top: 40%;
}

/* line 233, ../../../app/styles/pages/sign.scss */
.sign-text {
  color: #777;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
/* line 242, ../../../app/styles/pages/sign.scss */
.sign-text:before {
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
/* line 251, ../../../app/styles/pages/sign.scss */
.sign-text span {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  color: white;
  font-weight: 300;
}
/* line 258, ../../../app/styles/pages/sign.scss */
.sign-text img {
  position: relative;
}
/* line 261, ../../../app/styles/pages/sign.scss */
.sign-text p {
  margin-bottom: 0;
  margin-top: 5px;
}

@media (min-width: 1200px) {
  /* line 271, ../../../app/styles/pages/sign.scss */
  body.page-boxed #sign-wrapper {
    width: 1220px;
  }
}
@media (max-width: 1024px) {
  /* line 281, ../../../app/styles/pages/sign.scss */
  body.page-boxed #sign-wrapper {
    width: 100%;
  }
}
@media (max-width: 360px) {
  /* line 290, ../../../app/styles/pages/sign.scss */
  #sign-wrapper form {
    width: 95% !important;
  }
}