{% extends app.request.isXmlHttpRequest ? '::baseajaxforms.html.twig' : '::basesmartpanel.html.twig' %}
{% form_theme form 'MultiservicesArxisBundle:Form:campos.html.twig' %}
{% block content -%}
    <h1>User creacion</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="#{{ path('secured_user') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
{% endblock %}
