{% extends 'base.html.twig' %}

{% block body %}
    <style>
        label{
            display: table;
        }
        div.dataTables_filter input {
          margin-left: 0px; 
        }
        .dataTable thead tr th:first-child{
          min-width: 10px;  
        }
        #matriculas_datatable thead tr:first-child{
          display:none;
        } 
    </style>
    <h1>Matriculas listado</h1>

   {{ datatable_render_html(datatable) }}

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('matriculas', { 'page': 'new' }) }}">Crear Nueva Matricula</a>
        </li>
    </ul>
    {{ datatable_render_js(datatable) }}
{% endblock %}
